/*******************************************************************************
Reset
*******************************************************************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Globals
*******************************************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

html {
  font-size: 62.5%; /* 10px */
  min-height: 100%;
  background: -webkit-linear-gradient(#eee, #fff);
  background: linear-gradient(#eee, #fff);
}

body {
  font-size: 1.4rem; /* 14px */
  font-family: "Titillium Web", "Helvetica Neue";
}

/*******************************************************************************
Styles
*******************************************************************************/

/*#strip {
  width: 100%;
  height: 8px;
  background: -webkit-linear-gradient(#ccc, #eee);
  background-color: #ddd;
  opacity: 0.8;
  margin-bottom: -8px;
} */

header {
  position: relative;
  height: 800px;  
  background: black;
  /*opacity: 0.3;*/
  background-image: url(/images/lab-background.jpg);
  background-repeat: no-repeat;
  background-position: center 0%;
}

#head-cover {
  position: absolute;
  top: 0;
  height: 800px;
  width: 100%;  
  /*opacity: 0.5;*/
  /*background: black;*/
  background: linear-gradient(to top, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 15%, rgba(0,0,0,1) 52%, rgba(0,0,0,0) 100%);
  /*-webkit-animation: fadein 0.5s;*/
}

header h1#title {
  position: absolute;
  font-size: 2.8rem;
  font-weight: 200;
  /*text-transform: uppercase;*/
  text-align: center;
  top: 33%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ddd;
  text-shadow: 1px 1px 3px #333;
  z-index: 1;
  -webkit-animation: fadein 2s;
}

#description {
  position: absolute;
  top: 42%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 100;
  color: #ddd;
  text-shadow: 1px 1px 3px #333;
  z-index: 1;
  -webkit-animation: fadein 4s;
}

#projects-link {
  position: absolute;
  margin-left: -30px;
  bottom: 5%;
  left: 50%;
  color: white;
  text-align: center;
  z-index: 3;
  -webkit-animation: fadein 6s;
}

/* Projects */

#projects-wrapper {
  height: 100%;
  padding: 8em 10px 0 10px;
  max-width: 980px;
  margin: 0 auto;
}

#projects {
  /*background: green;*/
  max-width: 960px;
  font-size: 0px;
}

#projects .grid {
  position: relative;
  display: inline-block;
  max-width: 440px;
  margin: 0 40px 40px 0;
  /*margin: 0;*/
  /*background-color: orange;*/
}

#projects .grid:before, .grid:after{
  position:absolute;
  opacity:0.0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  /*pointer-events: none;*/
}

#projects .grid:after {
  content:'';
  width:100%; height:100%;
  top:0; left:0;
  background: black;
}

#projects .grid:hover:after {
  opacity:0.5;
}

#projects .grid:before {
  content: attr(data-content);
  font-size: 1.6rem;
  font-weight: 200;
  width:100%;
  color:#fff;
  z-index:1;
  text-align:center;
}

#projects .grid:hover:before {
    opacity:1;
}

#projects img {
  display: block;
  width: 100%;
}

/* Project */

.project {
  /*position: relative;*/
  /*overflow: auto;*/
  /*height: 100%;*/
  /*min-width: 100%;*/
  /*-webkit-animation: fadein 1s;*/
}

.project .description {
  position: fixed;
  /*border: 2px solid yellow;*/
  top: 0%;
  left: 10%;
  right: 10%;
  bottom: 0%;
  color: white;
  padding: 5% 0 0 0;
  z-index: 3;
}

.project .description h1 {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 0.5em;
}

.project .description p {
  
}

.project .cover {
  position: fixed;
  top: 0%;
  right: 50%;
  bottom: 0%;
  left: 0%;
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  z-index: 3;
}

.project .next, .prev {
  position: fixed;
  display: table;
  /*border: 1px solid grey;*/
  top: 0%;
  width: 10%;
  height: 100%;
  user-select: none;
  font-size: 4rem;
  text-align: center;
  color: white;
  text-decoration: none;
  /*font-weight: 100;*/
  z-index: 3;
}

.project .arrow {
  display: table-cell;
  vertical-align: middle;
}

.project .next {
  right: 0%;
}

.project .prev {
}

.project .slides-pagination {
  position: fixed;
  display: block;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  width: 4rem;
  /*text-align: center;*/
  z-index: 3;
}

.project .slides-pagination a {
  display: inline-block;
  width: 10px;
  height: 10px;
  color: grey;
  text-decoration: none;
}

.project .slides-pagination a.current{
  color: white;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*******************************************************************************
Featherlight
*******************************************************************************/

.featherlight .featherlight-content {
  width: 100%;
  height: 100%;
  max-height: none;
  padding: 0;
  background: none;
}

.featherlight .featherlight-close {
  width: 10%;
  height: 10%; 
  color: white;
  background: none;
  /*border: 2px solid white;*/
  padding-top: 2%;
  font-size: 2rem;
}




