/*******************************************************************************
Reset
*******************************************************************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Globals
*******************************************************************************/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

html {
  font-size: 62.5%; /* 10px */
  min-height: 100%;
  background: -webkit-linear-gradient(#eee, #fff);
  background: linear-gradient(#eee, #fff);
}

body {
  font-size: 1.4rem; /* 14px */
  font-family: "Titillium Web", "Helvetica Neue";
}

/*******************************************************************************
Styles
*******************************************************************************/

#strip {
  width: 100%;
  height: 8px;
  /*background: -webkit-linear-gradient(#ccc, #eee);*/
  background-color: #ddd;
  opacity: 0.8;
  margin-bottom: -8px;
}

#wrapper {
  height: 100%
  padding: 0 10px;
  max-width: 980px;
  margin: 0 auto;
}

#head {
/*  height: 100px;  
  background: black;
  opacity: 0.3;
*/}

header {
  /*position: absolute;*/
  /*float: top;*/
  height: 180px;
  line-height: 180px;
}

header h1#title {
  font-size: 2.8rem;
  font-weight: 200;
  /*text-transform: uppercase;*/
  color: #aaa;
  /*text-shadow: 1px 1px 3px #ccc;*/
}

/* Projects */

#projects {
  /*background: green;*/
  max-width: 960px;
  font-size: 0px;
}

#projects .grid {
  position: relative;
  display: inline-block;
  max-width: 440px;
  margin: 0 40px 40px 0;
  /*margin: 0;*/
  /*background-color: orange;*/
}

#projects .grid:before, .grid:after{
  position:absolute;
  opacity:0.0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  /*pointer-events: none;*/
}

#projects .grid:after {
  content:'';
  width:100%; height:100%;
  top:0; left:0;
  background: black;
}

#projects .grid:hover:after {
  opacity:0.5;
}

#projects .grid:before {
  content: attr(data-content);
  font-size: 1.6rem;
  font-weight: 200;
  width:100%;
  color:#fff;
  z-index:1;
  text-align:center;
}

#projects .grid:hover:before {
    opacity:1;
}

#projects img {
  display: block;
  width: 100%;
}

/* Project */

.project {
  position: relative;
  overflow: auto;
}
  
.project li {
  list-style: none;
}

.project ul li {
  float: left;
}

.project ul li img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: relative;
  top: 0;
  left: 0;
}

.project .description {
  position: absolute;
  /*border: 2px solid yellow;*/
  top: 0%;
  left: 10%;
  right: 10%;
  bottom: 0%;
  color: white;
  padding: 5% 0 0 0;
}

.project .description h1 {
  font-size: 3rem;
  font-weight: 200;
}

.project .cover {
  position: absolute;
  top: 0%;
  right: 50%;
  bottom: 0%;
  left: 0%;
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
}

.project .next, .prev {
  display: table;
  position: absolute;
  /*border: 2px solid grey;*/
  top: 0%;
  width: 10%;
  height: 100%;
  user-select: none;
  font-size: 4rem;
  text-align: center;
  color: white;
  /*font-weight: 100;*/
}

.project .arrow {
  display: table-cell;
  vertical-align: middle;
}

.project .next {
}

.project .prev {
  right: 0%;
}

.project ol.dots {
  position: absolute;
  display: block;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  width: 4rem;
  /*text-align: center;*/
}

.project ol.dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  color: grey;
}

.project ol.dots .active {
  color: white;
}


/*******************************************************************************
Featherlight
*******************************************************************************/

.featherlight {
  
}

.featherlight .featherlight-content {
  width: 100%;
  max-height: none;
  padding: 0;
  background: none;
}

.featherlight .featherlight-image {
/*  overflow: hidden;
  max-height: none;
*/}

.featherlight .featherlight-close {
  width: 10%;
  height: 10%; 
  color: white;
  background: none;
  border: 2px solid white;
  /*font-size: 4rem;*/
}




